certifi==2020.12.5
numpy==1.20.3
opencv-python==4.5.2.52
Pillow==8.2.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyYAML==5.4.1
torch==1.8.1
typing-extensions==3.10.0.0
wincertstore==0.2
yacs==0.1.8
